
  <div class="col-md-8 col-md-offset-2">

<h2>Edit My Comics</h2>
<ul>
<form action=<%= "/comic_books/#{@comic_book.id}" %> method="post">
  <input type="hidden" name="_method" value="put">
  <li><label for="title">Title:</label></li>
  <input type="text" name="comic_book[title]" value=<%= @comic_book.title %>>
  <li><label for="publisher">Publisher:</label></li>
  <input type="text" name="comic_book[publisher]" value=<%= @comic_book.publisher %>>
  <li><label for="number">Number:</label></li>
  <input type="number" name="comic_book[number]" value=<%= @comic_book.number %>>
  <li><label for="writer">Writer:</label></li>
  <input type="text" name="comic_book[writer]" value=<%= @comic_book.writer %>>
  <li><label for="artist">Artist:</label></li>
  <input type="text" name="comic_book[artist]" value=<%= @comic_book.artist %>>
  <li><label for="grade">Artist:</label></li>
  <input type="submit" value="Submit Changes">
</form>
</ul>
<br>
<br>
<form action=<%= "/comic_books/#{@comic_book.id}" %> method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value=<%= "Delete #{@comic_book.title}" %>>
</form>
  </div>